__pycache__/
**/__pycache__/
*.py[cod]
**/*.py[cod]
*$py.class

.env
.env.*
!.env.example

.git/
.idea/
.vscode/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/
.venv/
venv/
build/
dist/
*.egg-info/

Dockerfile
docker-compose*.yml
poetry.lock

testgpu.py
.idea/

Silent-Face-Anti-Spoofing/images/
Silent-Face-Anti-Spoofing/resources/
Silent-Face-Anti-Spoofing/saved_logs/
Silent-Face-Anti-Spoofing/datasets/
Silent-Face-Anti-Spoofing/README*.md
Silent-Face-Anti-Spoofing/train.py
Silent-Face-Anti-Spoofing/test.py
Silent-Face-Anti-Spoofing/LICENSE

*.log
*.tmp
