
API_SERVER_NAME=api-service

# Database (PostgreSQL)
DATABASE_URL
DATABASE_PORT=5432
DATABASE_HOST=localhost
DATABASE_NAME=
DATABASE_USER=postgres
DATABASE_PASSWORD=

# Redis
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD
REDIS_URL

REDIS_DB_SESSION=0
REDIS_DB_ATTENDANCE=1

# Mail / Notification
MAIL_USERNAME
MAIL_PASSWORD
MAIL_FROM
MAIL_PORT
MAIL_SERVER=smtp.gmail.com
MAIL_TLS=True
MAIL_SSL=False

# JWT / Auth
JWT_SECRET_KEY
JWT_ALGORITHM
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# CORS
CORS_ORIGINS